

*{
    padding: 0%;
    margin: 0%;
    font-family: Noto Sans TC
}

/*Mobile or other screen size 360px*640px */

.main_container{
    display: grid;
    grid-template-rows: 54px 280px auto;
    grid-template-columns: auto ;
}



.main_container .footer{
    display: grid;
    grid-template-rows: 54px ;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0px;
    z-index: 99;
    

    
}

.main_container .footer .choose_page{
    display: grid;
    grid-template-columns: auto auto;
    text-align: right;
    font-size: 16px;
}

.page_title{
    margin: 10px;
    font-size: 30px;
    font-weight: 1000;
    color: #448899 ;
}


.main_container .header{
    display: grid;
    grid-template-rows: 106px 37px auto;
    grid-template-columns: auto;
    background-image: 
    url("https://s3-alpha-sig.figma.com/img/7f11/61f9/05b5cacde05a250ac06b6807d14ef29b?Expires=1647820800&Signature=HiKPVuRkePCI6qsX46pmenyi8z-2jIetuwcP7jQtblgK7r1gKgyajRihIiRWxP24IJI~32uy3e0FqlFtMcQcEKuJ4F6HxJICVs8AYgH2zpED1h8FEiD9AouEAW8GLOuH2iUUQUnNpMAmiKUoD3Oemd6kbjbCg3upOQeMHSEGsZqjLwi8O3HgzDF2lbQfAmNR-xyzLZre-l5O17IRlUiYj5bSjfAOSWakLSLo9wP7~UXuM~yF6hLiuHmC~VDD~7toD8jrpVXIGTc5VpwAyOtijYtYEh1NczFiYfXDLHmnymOnWTDOOXVzWMr3-1URIOognFpTnMo0DLeo5ZEHoGx9qQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"),
    linear-gradient(135deg, #AADDEE , #66AABB );
    background-repeat: no-repeat,no-repeat;
    background-size: 276px 148px, 100% 100%; 
    background-position:200% bottom;
    width: 100%;
    position: relative;
    grid-row: 2/3;
    grid-column: 1/2;
    
 
}

.main_container .header .header_tilte {
    font-style: Bold;
    font-size: 28px;
    vertical-align:center;
    padding-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1200px;
    color:white
}

.main_container .header .header_words {
    font-style: Regular;
    font-size: 16px;
    vertical-align:center;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1200px;
    color:white
}

.main_container .header .search_bar{
    padding-top:25px;
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 65px;
    max-width: 1200px;
}



.main_container .header .search_bar input[type=text] {
    width: 230px;
    height: 46px;
    border: none;
    font-size: 16px;
  }

.main_container .header .search_bar button{
    width: 60px;
    height: 46px;
    border: none;
    background-color: #448899;
    border-radius: 5px;
  }

.main_container .header .search_bar button img{
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    
}


.main_content{
    grid-row: 3/4;
    grid-column: 1/2;
  
}

.main_content .block{
    max-width: 360px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 280px;
    padding-top: 15px;
}

.main_content img{
    height: 202px;
    width: 322px;

}

.main_content .info_block{
    height: 78px;
    width: 322px;
}

.main_content .info_block .attr_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (min-width: 350px) and (max-width: 1199px){

    .main_container{
        display: grid;
        grid-template-rows: 54px 320px auto;
        grid-template-columns:  1fr auto 1fr;
    }

    .main_container .footer{
        display: grid;
        grid-template-rows: 54px ;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background-color: white;
        position: fixed;
        top:0px;
        
        
    }

    .main_container .footer .choose_page{
        display: flex;
        font-size: 16px;
        justify-content: right;
    }

    .main_container .footer .choose_page div{
        padding-left: 20px;
    }

    

    .main_container .header{
        display: grid;
        grid-template-rows: 106px 37px auto;
        grid-template-columns: auto ;
        background-size: 560px 240px, 100% 100%; 
        background-position:100% bottom;
        grid-column: 2/3;
     
    }
    

    .main_content{
        display: flex;
        flex-wrap: wrap;
        grid-column: 2/3;
        justify-content: center;
    }

} 


@media only screen and (min-width: 1200px){

    .main_container{
        display: grid;
        grid-template-rows: 54px 320px 1fr;
        grid-template-columns:1fr 1200px 1fr ;
     
    }

  
    .main_container .footer{
        display: grid;
        grid-template-columns:1fr 600px 600px 1fr ;
        background-color: white;
        position: sticky;
        top:0px;
        grid-column: 1/4;
    }

    .main_container .footer .choose_page{
        padding-left: 30px;
        grid-column: 3/4;
        justify-content: right;
    }

    .main_container .footer .choose_page div{
        padding-left: 30px;
    }


    .page_title{
        margin: 10px;
        font-size: 30px;
        font-weight: 1000;
        color: #448899 ;
        grid-column: 2/3;
    }
  

    .main_container .header{
        display: grid;
        grid-template-rows: 106px 37px auto;
        grid-template-columns: 1fr 1200px 1fr;
        background-position:88% bottom;
        background-size: 650px 320px, 100% 100%;
        width: 100%;
        grid-column: 1/4;
      
     
    }

    .main_container .header .header_tilte {
        font-style: Bold;
        font-size: 28px;
        vertical-align:center;
        padding-top: 65px;
        margin-left: 20px;
        margin-right: 20px;
        grid-column: 2/3;
    }
    
    .main_container .header .header_words {
        font-style: Regular;
        font-size: 16px;
        vertical-align:center;
        padding-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        grid-column: 2/3;
    }
    
    .main_container .header .search_bar{
        padding-top:25px;
        display: inline-flex;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 65px;
        grid-column: 2/3;
    }

    .main_container .header .search_bar input[type=text] {
        width: 400px;
        height: 46px;
        border: none;
      }
    
    .main_container .header .search_bar button{
        width: 60px;
        height: 46px;
        border: none;
        background-color: #448899;
        border-radius: 5px;
      }
    
    .main_container .header .search_bar button img{
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        
    }


    .main_content{
        display: flex;
        flex-wrap: wrap;
        grid-column: 2/3;
        padding-top:55px;
   
     }

     .main_content .block{
        max-width: 270px;
        margin-left: 15px;
        margin-right: 15px;
        max-height: 280px;
        padding-top: 15px;
    }
    
    .main_content img{
        height: 202px;
        width: 270px;
    
    }
    
    .main_content .info_block{
        height: 78px;
        width: 270px;
    }
}
