<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://52.73.173.92:3000/static/attraction.css" />
    
    <title>台北一日遊</title>
</head>
<body>
    <div class="container_outer">
        <div class="footer">
            <div class="page_title">台北一日遊</div>
            <div class="choose_page">
                <div class="booking">預定行程</div>
                <div class="signin_up" id="enter">登入/註冊</div>
            </div>
        </div>
        <div class="container_image">
            <img src="https://s3-alpha-sig.figma.com/img/6778/6302/0ccc5ce8b30b3d331a45ecdf90f129e1?Expires=1650240000&Signature=EcWB6xlDoJsoeWjd~FCG5gZ84hBGty7nFA3vUO5kPJAgbnd6Vt8tJ8nm1frwXVPgK8~i78ZgUUpuJs5ArOU34b6VFXynwA2Dz8QBFGPq~B~233eYvi5naXJHqdrs7NxLbWa1qLRx8vIQa9Q~YnfcJnf9r8xyYwoL-GJEsZkdpFysdwGityS2dP2sCXqsJ4HLo34ZWDmA08uiU7x-RvTo311QZL9wDRMwn-198q8ZiQMtE3juajm9Tx1ZqhTWm0hZRJjiU8WMyaM4s2mqx2SqUi91qsD1d9Up1mNLfsaFBXK~TB5JHCe~5P5Rz1Y3XujBRRDnC8USlxB17XAdsGMz-A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="left-buttom" id="left-buttom">
            <img src="https://s3-alpha-sig.figma.com/img/2411/4817/bdfa2bd566c1379581f5b31c6a6a01bc?Expires=1650240000&Signature=FpYQ2~9YXhufKBI~cpJtrmzDFlRwUXJeecSrGKE2iFTargVeT3pb7q0IL3QBHeKX0GWKmI0DQVdCU3P31kspYeZ-Pv4P8sXFQYiOwsiMkfM7uE6fl72paj3QYJrPFnyLTxZlboVfh7W1JN2NBZLJHo5il36IDVF0h2PuL~Rmql0k1N3ZBcSdhQTjkYlPEHihZ94cFuL1laHy84o-kM3PCmj0BPHCnqJEzzxV~wtLhyjOSCuCbnYu4r-PEb5UqBRcoRM8eYutkfbaBaBiadviLAVAo7yuItXOoE6flDT7r2wsS5lZH-zIiQROPmZ~llPCZVc7TCOiuJJnVt8OhZPX~Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="right-buttom" id="right-buttom">
        </div>
        <div class="container_oder">
            <div class="attraction_name"></div>
            <div class="cat_station"></div>
            <div class="order">
                <div>訂購導覽行程</div>
                <div>以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div>
                    <p>選擇日期:</p>
                    <input type="date" id="start" name="trip-start" value="yyyy-MM-dd"
       min="2022-01-01" max="2100-12-31">
                </div>
                <div>
                    <p>選擇時間:</p>
                    <label class="booking_bt_container" for="morning_bt">上半天
                    <input class="morning_bt" id="morning_bt" type="radio"  value="morning" name="radio" checked="checked">
                    <span class="checkmark" id="left-checkmark"></span>
                </label>
                    <label class="booking_bt_container" for="afternoon_bt">下半天
                    <input class="afternoon_bt" id="afternoon_bt" value="afternoon"  type="radio"  name="radio" >
                    <span class="checkmark" id="right-checkmark"></span>
                </label>
                </div>
                <div>
                    <p>導覽費用:</p>
                    <p class="tutorial_fee">新台幣2000元</p>
                </div>
                <div class="booking_bt">
                    開始預訂行程
                </div>
            </div>
        </div>
        <div class="container_intro"></div>
        <div class="container_address"><div class="container_descrip_bold">景點地址:</div><div></div></div>
        <div class="container_transport"><div class="container_descrip_bold">交通方式:</div><div></div></div>
        <div class="endBannar">
            <div>COPYRIGHT © 2021 台北一日遊</div>
        </div>
        <div id="signinModal" class="signinModal">
            <div class="modal-content" id="sigin-modal-content">
                <div class="modal-header" >
                    <div class="sig-header">登入會員帳號</div>
                    <div class="close" id="close1">
                    <img src="https://s3-alpha-sig.figma.com/img/0a1f/425f/8de46cdc235bdc9b370c21e0028a68e6?Expires=1649635200&Signature=bMJrhhDp6e-nzgPNVZHpSdDssMZvThaXE62wzPArS5Zn~JtzTzrKqVvgTVJX5PskCbG40AJ3rkxXzGWkVheTJtTeR9fijBxyxNQ6XvVgd53k3gqr4oJtDfYpe62F8EYDPwPtotAtwVCJBP6qb8v2wUi2wYH824V1WoDLbtpPfMjnYFAIQVgac3qXLS2sCKtTcqyoHuLi9GYA3BURl0WDbowtDVzmQGdiOU~VFjRj8oMso7oyvxH~S6xmXJH~VznNFVhQjRP3~R0Gi4l7NPgd7~VJ3Gwwon2Ur9f-AnXM9k38fzW5q0FiRJDiobvPTOG50ZM~Rxn2Zb-Qfon9Luw-Kw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                    </div>
                </div>
                <div class="input-block">
                    <input type="text", class="email" placeholder="輸入電子信箱" name="email" id="siginemail"><br>
                    <input type="password", class="password" placeholder="輸入密碼" name="password" id="siginpassword"><br>
                    <input type="submit" , class="sig_bt" value="登入帳戶" id="sigin_bt">
                </div>
                <div class="massage" id="siginmessage"></div>
                <div class="end-text" id="end-text-sigin">還沒有帳戶?點此註冊</div>
            </div>
        </div>
        <div id="signupModal" class="signupModal" >
            <div class="modal-content" id="sigup-modal-content">
                <div class="modal-header">
                    <div class="sig-header">註冊會員帳號</div>
                    <div class="close" id="close2">
                    <img src="https://s3-alpha-sig.figma.com/img/0a1f/425f/8de46cdc235bdc9b370c21e0028a68e6?Expires=1649635200&Signature=bMJrhhDp6e-nzgPNVZHpSdDssMZvThaXE62wzPArS5Zn~JtzTzrKqVvgTVJX5PskCbG40AJ3rkxXzGWkVheTJtTeR9fijBxyxNQ6XvVgd53k3gqr4oJtDfYpe62F8EYDPwPtotAtwVCJBP6qb8v2wUi2wYH824V1WoDLbtpPfMjnYFAIQVgac3qXLS2sCKtTcqyoHuLi9GYA3BURl0WDbowtDVzmQGdiOU~VFjRj8oMso7oyvxH~S6xmXJH~VznNFVhQjRP3~R0Gi4l7NPgd7~VJ3Gwwon2Ur9f-AnXM9k38fzW5q0FiRJDiobvPTOG50ZM~Rxn2Zb-Qfon9Luw-Kw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                    </div>
                </div>
                <div class="input-block">
                    <input type="text", class="name" placeholder="輸入姓名" name="name" id="sigupname"><br>
                    <input type="text", class="email" placeholder="輸入電子信箱" name="email" id="sigupemail"><br>
                    <input type="password", class="password" placeholder="輸入密碼" name="password" id="siguppassword"><br>
                    <input type="submit" , class="sig_bt" value="註冊新帳戶" id="sigup_bt">
                </div>
                <div class="massage" id="sigupmessage"></div>
                <div class="end-text" id="end-text-sigup">已經有帳戶了?點此登入</div>
            </div>
        </div>
    <script src="http://52.73.173.92:3000/static/attraction.js"></script>
</body>
</html>
