<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Document</title>
</head>
<body >
    <div class="main_container">
      
        <div class="footer">
            <div class="page_title">台北一日遊</div>
            <div class="choose_page">
                <div class="booking">預定行程</div>
                <div class="signin_up">登入/註冊</div>
            </div>
        </div>
        <div class="header">
            <div class="header_tilte">輕鬆享受台北一日悠閒</div>
            <div class="header_words">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="search_bar">
                <input type="text", class="inputKeywords" placeholder="輸入景點名稱查詢" name="search">
                <button type="submit" , class="buttonKeywords"><img src="https://img.icons8.com/external-prettycons-lineal-color-prettycons/49/000000/external-search-travel-prettycons-lineal-color-prettycons.png"></button>
            </div>
        </div>
        <div class="main_content", id="mainContainer">
            <div class="observer"></div>
        </div>
    </div>
    
    
</body>
<script src="./index.js"></script>
</html>